ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: blue;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 2em 2em;
  border-right: 1px solid #bbb;
}

li a:hover {
  background-color: red;
}

